<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/product.css">
    <title>Webshop Vue</title>
</head>
<body>
    <div id="app">
        <main-header v-on:change-page="updateView"></main-header>
        <main-page v-on:change-page="updateView" v-if="selectedPage === 'home'"></main-page>
        <product v-on:add-to-cart="updateCart" v-on:remove-from-cart="removeFromCart" v-if="selectedPage === 'product'"></product>
        <main-footer></main-footer>
     </div>
    
    <script src="js/main.js"></script>
</body>
</html>