body {
    background-color: wheat;
    box-sizing: border-box;
    margin: 0%;
    background: radial-gradient(ellipse at bottom, #2a70c0 0%, #030617 100%);
}

.gridContent {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40px 1fr 20px;
    grid-template-areas: 'header'
        'main'
        'footer';
    width: 100vw;
    height: 100vh;
}

.header {
    grid-area: header;
    text-align: left;
    background-color: rgba(15, 15, 15, 0.205);
}

.logoDiv {
    float: left;
    color: rgb(230, 230, 230);
    margin-top: 5px;
    font-size: x-large;
    font-family: serif;
}

.listDiv {
    float: right;
    margin-top: -10px;
    text-align: right;
}

.headerList li {
    list-style-type: none;
    font-family: serif;
    font-size: x-large;
    color: rgb(230, 230, 230);
    display: inline-block;
    margin-right: 40px;
}

.headerList a {
    color: rgb(230, 230, 230);
    text-decoration-line: none;
}

.headerList a:hover {
    color: blue;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}